.App{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.cuadroInicial{
  
  margin: 25px;
  width: 50%;

}
.cuadroConsulta{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.inputCity{
  width: 200px;
  font-size:smaller;
  margin-right: 10px;
}

.query{
  width: 200px;
  /*color: #A13E23;*/
}

.cuadroContenido{
  background: #23A17B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}


.weatherImage{
  width: 200px;
}

.temperature{
  margin-bottom:  10px;
}

.comuna{
  color: #4CEDBD;
  padding-top: 10px;
}