.App{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}
.cuadroInicial{
  
  margin: 25px;
  width: 50%;

}
.cuadroConsulta{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.inputCity{
  width: 200px;
  font-size:smaller;
  margin-right: 10px;
}

.query{
  width: 200px;
  /*color: #A13E23;*/
}

.cuadroContenido{
  background: #23A17B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-direction: column;
}


.weatherImage{
  width: 200px;
  transition: 1s;
}

.temperature{
  margin-bottom:  10px;
}

.comuna{
  color: #4CEDBD;
  padding-top: 10px;
}



@media (max-width:768px){
  
  .query{
    margin: 20px;
  }

  .inputCity{
    margin: 20px;
  }

  .cuadroContenido{
    background: #23A17B;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
    padding-top: 20px;
  }
  


  .cuadroConsulta{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  .cuadroInicial{
    justify-content: grid;
    margin: 10px;
    width: 100%;
  
  }
}